<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLV 播放器</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flv.js/1.6.2/flv.min.js"></script>
    <link rel="stylesheet" href="/static/css/player.css">
</head>
<body>
    <div class="container">
        <h1>FLV 播放器</h1>
        <div class="input-group {{if .HideInput}}hidden{{end}}">
            <textarea id="flvUrls" placeholder="请输入 FLV 视频 URL（每行一个）">{{.URL}}</textarea>
            <div class="controls">
                <button class="control-button clear" onclick="clearPlayers()">清空</button>
                <button onclick="playVideos()">播放全部</button>
            </div>
        </div>
        <div id="errorMessage"></div>
        <div id="players" class="player-container">
        </div>
        <div class="footer">
            系统运维部驱动
        </div>
    </div>

    <script src="/static/js/player.js"></script>
</body>
</html>